.page-not-found-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  .error-code {
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    color: grey;
  }
  .error-text {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: grey;
  }
}
