.container {
  img {
    max-width: calc(100% - 10px);
    margin: 5px;
  }

  .photo-container {
    display: flex;

    .photo-image {
      display: flex;
      justify-content: center;
    }

    .photo-info {
      display: flex;
      flex: 1;
      flex-direction: column;

      .photo-info-row {
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid #ececec;
        height: 40px;
        display: flex;
        align-items: center;

        .photo-info-row-header {
          padding-right: 10px;
          padding-left: 10px;
          width: 100px;
        }
        .photo-info-row-text {
          flex: 1;
        }
      }
    }
  }
}
@media screen and (max-width: 968px) {
  .photo-container {
    flex-direction: column !important;
    font-size: 0.8em;
  }
  .photo-info-row {
    padding: 0px !important;
  }
}
