@import '@mdi/font/css/materialdesignicons.css';

@font-face {
  font-family: 'roboto-light';
  src: url('./assets/Roboto-Light.ttf');
}

html {
  margin-top: 50px;
}

body {
  background-color: #fbfbfb;

  margin: 0;
  font-family: 'roboto-light';
}

button {
  cursor: pointer;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
